.cardleague {
  width: 49%;
  outline: 0.5vw solid #404040;
  outline-offset: -0.55vw;
  border: 0.51vw solid #404040;
  box-shadow: inset 0 0 0 1px #404040;
  height: 200px;
  margin: 5px;
  color: #e7e8e9;;
  box-shadow: inset 0 -3vw 1vw rgb(33 33 33 / 75%);
}

.cardleague-header {
  padding: 10px 10px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
}

.cardleague-text {
 padding: 10px 10px;
 font-weight: 500;
 font-size: 0.78vw;
 margin-top: 3px;
 text-align: left;
 text-transform: uppercase;
 margin-bottom: 0px;
}
.cardleague-text1 {
 padding: 0px 10px;
 font-weight: 500;
 font-size: 0.78vw;
 margin-top: 0px;
 text-align: left;
 text-transform: uppercase;
 margin-bottom: 0px;
}

.cardleague-link {
 background-color: rgba(246,135,33,0.95);
 color: white;
 text-decoration: none;
 font-size: 0.67vw;
 font-weight: 500;
 padding: 9px 50px;
}
.cardleague-btn {
  margin-top: 60px;
  margin-left: 15px;
  text-align: left;
}
.cardleague-link:hover {
  background-color: #b46011;
}